[Unit]
Description=wfb server
After=multi-user.target

[Service]
Type=idle
#Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 2
ExecStart=TOBEUPDATEATINSTALLATION/scripts/wfb_on.sh
ExecReload=TOBEUPDATEATINSTALLATION/scripts/wfb_on.sh
ExecStop=TOBEUPDATEATINSTALLATION/scripts/wfb_off.sh

[Install]
WantedBy=multi-user.target
