# This is a mostly empty service, but allows commands like stop, start, reload
# to propagate to all wifibroadcast@ service instances.

[Unit]
Description=Wifibroadcast server
After=multi-user.target

[Service]
Type=idle
#Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 2
ExecStart=compagnonsoftwarepath/patched/wfb_on.sh
ExecReload=compagnonsoftwarepath/patched/wfb_on.sh
ExecStop=compagnonsoftwarepath/scripts/wfb_off.sh

[Install]
WantedBy=multi-user.target
